	<a target="_blank" href="https://play.google.com/store/apps/details?id=com.jdhsu.ublo"><img src="./ublo.png" border="2" title="Ublo for Android" alt="Ublo for Android" width="30%" style="max-width: 512px" /></a>
<div style="width: 30%; max-width: 512px">
	<p style="text-align: center">Ublo for Android</p>
	<!--<p style="text-align:center"><a href="/sites/ublo/licence.html" style="text-align: center">Licence</a></p>-->
</div>
